
:root {
    --primary-color: #00cc99;
    --panel-color: white;
    font-family: sans-serif;
    --radius: 15px;
}

html {
    background-color: white;
}

.nav-link{
    display:inline-block;
    padding: 0.5em 1em;
    
    text-decoration-line: none;
    color: black;
}

.nav-link:hover {
    background-color: var(--primary-color);
}

body {
    margin: 1vh;
    min-height: 92vh;
    
    border-radius: 10px;
    border: solid 15px var(--primary-color);
    background-color: var(--primary-color);
}

section, nav, header, article{
    margin: 0.75em;
    padding: 0.5em;
    
    background-color: var(--panel-color);
    
    border-radius: var(--radius);
    border: solid 15px var(--panel-color);
}

.nav-list {
    padding: 0px;
    margin: 0px;
    
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    margin: 0px;
    /*padding: 0.5em 1em;*/
    
    border: var(--primary-color) solid 15px;
    border-radius: 15px;
}

article {
    padding: 0;
    background-color: #319389;
}

.post-meta {
    opacity: 0.5;
    font-size: 80%;
}

table {
    border: 15px solid var(--primary-color);
    border-radius: var(--radius);
    border-spacing: 0px;
}

table tr > * {
    border: 5px solid var(--primary-color);
    padding: 5px 10px;
}
